<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group" *ngFor="let formPropetryControl of formProperties; let i = index">
          <div *ngIf="formPropetryControl.type==='text' || formPropetryControl.type==='date'">
            {{formPropetryControl.label}}:
            <input [type]="formPropetryControl.type" [id]="formPropetryControl.name"
            [(ngModel)]="formPropetryControl.value" [name]="formPropetryControl.name"
            [required]="formPropetryControl.required" [readonly]="!formPropetryControl.writable">
          </div>
          <div *ngIf="formPropetryControl.type==='long'">
            {{formPropetryControl.label}}:
            <input type="number" [id]="formPropetryControl.name"
                   [(ngModel)]="formPropetryControl.value" [name]="formPropetryControl.name"
                   [required]="formPropetryControl.required" [readonly]="!formPropetryControl.writable">
          </div>
          <div *ngIf="formPropetryControl.type==='enum'">
            {{formPropetryControl.label}}:
            <select [id]="formPropetryControl.name"  [(ngModel)]="formPropetryControl.value"
            [name]="formPropetryControl.name" [required]="formPropetryControl.required"
            >
              <option *ngFor="let c of formPropetryControl.values" [ngValue]="c.value">{{c.value}}</option>
            </select>
          </div>
          <div *ngIf="formPropetryControl.type==='multi'">
            {{formPropetryControl.label}}:
            <ss-multiselect-dropdown [id]="formPropetryControl.name" [options]="formPropetryControl.values"
                                     [(ngModel)]="formPropetryControl.multi" [name]="formPropetryControl.name"
                                     (ngModelChange)="onChange()" [required]="formPropetryControl.required"></ss-multiselect-dropdown>
          </div>
        </div>
        <button class="btn btn-outline-primary" type="submit" [disabled]="!f.valid">Complete Task</button>
      </form>
    </div>
  </div>
</div>

