<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
	<div class="container-fluid">
		<div class="navbar-header">
			<a routerLink='/tasks' class="navbar-brand">Tasks</a>
			<a class="navbar-brand"  style="cursor: pointer;" (click)="onStartRegistration()"
			*ngIf="!serverService.isLogged">Registration</a>
			<a class="navbar-brand" style="cursor: pointer;" (click)="onStartMainProcess()"
			*ngIf="serverService.isLogged">Tender</a>
      <a routerLink='/login' class="navbar-brand "
      *ngIf="!serverService.isLogged">Login</a>
      <a class="navbar-brand" style="cursor: pointer;"
      *ngIf="serverService.isLogged" (click)="onLogout()">Logout</a>
		</div>
	</div>
</nav>
