<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <div>
            Username:
            <input type="text" id="username" class="form-control"
            [(ngModel)]="username" name="Username"
            required="true">
          </div>
          <div>
            Password:
            <input type="password" id="password" class="form-control"
            [(ngModel)]="password" name="Password"
            required="true">
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
